<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Etudiant</title>
</head>

<body>
    <table  border="1" >
        <tr>
            <td>Prenom</td>
            <td>Nom</td>
            <td>Date de naissance</td>
        </tr>
        {% for et in etudiants %}
        <tr>
            <td>{{ et.prenom}}</td>
            <td>{{ et.nom}}</td>
            <td>{{ et.datenaiss}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>